*{ 
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    background-color: #C490E4;
}

/*Cabeçalho*/
header{
    background-color: #C490E4;
    height: 80px;
}
header > img {
    padding-left: 0.5%;
    padding-top: 2px;
    float: left;/*tira a imagem do container assim ela fica 'flutuando' no lado desejado*/ 
}
header > nav > ul > li {
    padding-top: 22px;
    padding-left: 12%;
    float: left; 
    
    font-size: 27px;
    
    list-style: none; /*tira o símbolo da lista*/
}
.CADASTRE-SE{
    padding-left: 0.3%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{ /*O "hover" é uma ação para quando o usuário passar o mouse em cima*/
    text-decoration: underline;
    color: black;
}

#img_us{
    float: right;
    height: 70px;
    padding-top: 11px; 
    padding-right: 15px;
}


/*conteúdo*/
#corpo{
    background-color: #F3F2DA;
}
#ni{
    text-align: right;
    margin-right: 500px;
    margin-top: 30px;
}

#fundo_info
{
    background-color: #dbdabf;
    color: black;
    margin-right: 300px;
    margin-left: 300px;
    
}

#profile
{
    padding-left: 38%;
    padding-top: 5%;
}
#img_Inst{
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
}


.centered
{
    /* Mantem o texto transparente até colocar o mouse em cima */
    color : rgba(0, 0, 0, 1);

    position: absolute;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, -50%);
}

button
{
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Rodapé*/
footer{
    background-color: #761FAB;
    padding-top: 1%;
    padding-bottom: 1%;
}
footer > ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none; /*tira o símbolo da lista*/
    font-size: 20px;
    color: white;
}
#telefone{
    float: right;
    padding-right: 2%;
}