*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Cabeçalho*/
header{
    background-color: #C490E4;
    height: 80px;
}
header > a > img {
    padding-left: 0.5%;
    padding-top: 2px;
    float: left;/*tira a imagem do container assim ela fica 'flutuando' no lado desejado*/ 
}
header > nav > ul > li {
    padding-top: 22px;
    padding-left: 12%;
    float: left; 
    
    font-size: 27px;
    
    list-style: none; /*tira o símbolo da lista*/
}
.CADASTRE-SE{
    padding-left: 0.3%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{ /*O "hover" é uma ação para quando o usuário passar o mouse em cima*/
    font-weight: bold;
    color: black;
}

/*Conteúdo*/
#retangulo01{
    background-color: #F6C6EA;
    
    height: 260px;
    padding-top: 1.5%;
}

.titulo{
    font-weight: bolder;
    font-size: 50px;
    padding-left: 4%;
}
.texto{
    font-size: 30px;
    padding-left: 5.5%;
}

#coracao {
    float: right;
    padding-right: 3%;

    width: 350px;
    height: 240px;
}



/*Corpo*/
#corpo{
    background-color: #F3F2DA;
    height: 1000px;

}
body > nav > ul > li {
    background-color: #E3E3E3;
    float: left; 
    
    margin: 2.5%;
    list-style: none; /*tira o símbolo da lista*/
}



#corpo > ul > li > div > .centered
{
    /* Mantem o texto transparente até colocar o mouse em cima */
    color : rgba(0, 0, 0, 0);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#corpo > ul > li > div:hover > img{

    /* Faz a imagem ficar transparente*/
    opacity: 0.25;
    color : black;
}

#corpo > ul > li > div:hover [class^=centered]{

    /* Faz o texto ficar visível*/
    opacity: 1;
    color : black;
}

/*



#corpo > ul > li > div:hover
{
    
    opacity: 0.5;
    color: rgba(0, 0, 0, 1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

*/

.container {
    position: relative;
    text-align: center;
    color: black;
}



/*Rodapé*/
footer{
    background-color: #761FAB;
    padding-top: 1%;
    padding-bottom: 1%;
}
footer > ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none; /*tira o símbolo da lista*/
    font-size: 20px;
    color: white;
}
#telefone{
    float: right;
    padding-right: 2%;
}