*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Cabeçalho*/
header{
    background-color: #C490E4;
    height: 80px;
}
header > a > img {
    padding-left: 0.5%;
    padding-top: 2px;
    float: left;/*tira a imagem do container assim ela fica 'flutuando' no lado desejado*/ 
}
header > nav > ul > li {
    padding-top: 22px;
    padding-left: 12%;
    float: left; 
    
    font-size: 27px;
    
    list-style: none; /*tira o símbolo da lista*/
}
.CADASTRE-SE{
    padding-left: 0.3%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{ /*O "hover" é uma ação para quando o usuário passar o mouse em cima*/
    font-weight: bold;
    color: black;
}



/*Conteúdo*/
#conteudo{
    background-color: #F3F2DA;
    padding-top: 2%;
    padding-bottom: 2%;
}

body > div > div{
    background-color: #F6C6EA;
    border: 1px solid black;
    text-align: center;
    margin: 0% 5% 0% 5%;
    /*O 'margin' recebe 4 entradas, que são as margens dos quatro cantos, são eles, respectivamente:
    margem de cima, lado direito, em baixo e lado esquerdo*/
}
#quadrado01{
    font-size: 100px;
}
.quadrados{
    font-size: 70px;
}



/*Rodapé*/
footer{
    background-color: #761FAB;
    padding-top: 1%;
    padding-bottom: 1%;
}
footer > ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none; /*tira o símbolo da lista*/
    font-size: 20px;
    color: white;
}
#telefone{
    float: right;
    padding-right: 2%;
}