*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/*Cabeçalho*/
header{
    background-color: #C490E4;
    height: 80px;
}
header > a > img {
    padding-left: 0.5%;
    padding-top: 2px;
    float: left;/*tira a imagem do container assim ela fica 'flutuando' no lado desejado*/ 
}
header > nav > ul > li {
    padding-top: 22px;
    padding-left: 12%;
    float: left; 
    
    font-size: 27px;
    
    list-style: none; /*tira o símbolo da lista*/
}
.CADASTRE-SE{
    padding-left: 0.3%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{ /*O "hover" é uma ação para quando o usuário passar o mouse em cima*/
    font-weight: bold;
}


/*Conteúdo*/
body{
    background-color: #F3F2DA;
}
#conteudo{
    text-align: center;
}
h1{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
video{
    border: 5px solid blueviolet;
    box-shadow: 5px 5px 10px;
    height: 600px;
}
h2{
    margin-top: 50px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
pre{
    margin-top: 10px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sobreaba{
    margin-top: 10px;
    font-size: 25px;
    list-style: none;
}



/*Rodapé*/
footer{
    background-color: #761FAB;
    padding-top: 1%;
    padding-bottom: 1%;
}
footer > ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none; /*tira o símbolo da lista*/
    font-size: 20px;
    color: white;
}
#telefone{
    float: right;
    padding-right: 2%;
}
