*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width: 800px;
    height: 250px;
    font-size: 20px;
    
    /*esses valores servem para colocar exatamente no meio*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);

}
#corpo{
    background: #ECEABC;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}
#X{
    float: right;
}
#X:hover{
    font-weight: bold;
}
.inputTxt{
    height: 40px;
    width: 400px;
   
}
