*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Cabeçalho*/
header{
    background-color: #C490E4;
    height: 80px;
}
header > img {
    padding-left: 0.5%;
    padding-top: 2px;
    float: left;/*tira a imagem do container assim ela fica 'flutuando' no lado desejado*/ 
}
header > nav > ul > li {
    padding-top: 22px;
    padding-left: 12%;
    float: left; 
    
    font-size: 27px;
    
    list-style: none; /*tira o símbolo da lista*/
}
.CADASTRE-SE{
    padding-left: 0.3%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{ /*O "hover" é uma ação para quando o usuário passar o mouse em cima*/
    font-weight: bold;
}


/*Conteúdo*/
#retangulo01{
    background-color: #F6C6EA;
    
    height: 325px;
    padding-top: 1.5%;
}
.titulo{
    font-weight: bolder;
    font-size: 60px;
    padding-left: 4%;
}
.texto{
    font-size: 40px;
    padding-left: 5.5%;
}
#foto_coracao {
    float: right;
    padding-right: 3%;

    width: 450px;
    height: 300px;
}


#retangulo02{
    background-color: #CDF0EA;
    padding-top: 1.5%;
    height: 373px;
}
#foto_familia{
    padding-left: 7%;
    float: left;
}
#titulo_retangulo02{
    padding-left: 55%;
}
#texto_retangulo02{
    padding-left: 56.5%;
}


#retangulo03{
    background-color: #F6C6EA;
    height: 330px;
    padding-top: 1.5%;
}
#foto_instituicao{
    float: right;
    padding-right: 3%;
    width: 450px;
}




/*Rodapé*/
footer{
    background-color: #761FAB;
    padding-top: 1%;
    padding-bottom: 1%;
}
footer > ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none; /*tira o símbolo da lista*/
    font-size: 20px;
    color: white;
}
#telefone{
    float: right;
    padding-right: 2%;
}